* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	cursor: default;
	color: #fff;
}

body {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	background-color: #75D4CA;
}

.main {
	border: 7px solid #fff;
	max-width: 1200px;
	margin: 40px 0;
	position: relative;
}

.main::before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	color: red;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

.title {
	font-size: 55px;
	color: #000 !important;
	text-transform: uppercase;
	text-align: center;
	margin: 15px 0 50px 0;
	text-decoration: underline;
}

.para {
	text-align: justify;
	padding: 0 40px;
	font-size: 25px;
}

.poem {
	width: 100%;
	text-align: center;
	margin: 25px 0;
	font-size: 20px;
	color: #FC892D !important;
	font-weight: bold;
}

@media (max-width: 739px) {
	.main {
		margin: 0 30px;
	}
}